{% extends 'base.html' %}

{% block content %}
    <div data-scroll-container>   
        <div class="main" >
              <section style="margin-top:8em;"data-scroll-section>
                  <h1 class="left-h1" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-class="appear" data-scroll-repeat="true">Beautiful Holiday Destinations</h1>
                  <div class="recommendations-container">
                      <div class="recommendations">
                          <ul class="recommendations_list">
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_black">Popular</a></li>
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_grey">Adventure</a></li>
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_grey">Beach</a></li>
                          </ul>
                          <div class="active_container">
                              <span class="active"></span>
                          </div>
                      </div>
                      <div class="recommendations__controls">
                          <span class="control_left"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                          <span class="control_right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                      </div>
                  </div>
                  <div class="location_preview">
                      <div class="preview" data-scroll data-scroll-speed="-1" >
                          <img src="https://images.unsplash.com/photo-1559628233-100c798642d4?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="">
                          <div class="preview__details">
                              <span class="preview__details__text">
                                  <p class="preview__details__text__top txt_lg_white">Nusa Penida</p>
                                  <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star" aria-hidden="true"></i> 4.7</p>
                              </span>
                              <p class="preview__details__text__bottom txt_lg_white"><i class="fa fa-map-marker" aria-hidden="true"></i> Bali, Indonesia</p>
                          </div>
                      </div>
                      <div class="preview" data-scroll data-scroll-speed="1">
                          <img src="https://images.unsplash.com/photo-1532186651327-6ac23687d189?ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
                          <div class="preview__details">
                              <span class="preview__details__text">
                                  <p class="preview__details__text__top txt_lg_white">Labuan Bajo</p>
                                  <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star" aria-hidden="true"></i> 4.8</p>
                              </span>
                              <p class="preview__details__text__bottom txt_lg_white"><i class="fa fa-map-marker" aria-hidden="true"></i> NTT, Indonesia</p>
                          </div>
                      </div>
                      <div class="preview" data-scroll data-scroll-speed="-1">
                          <img src="https://images.unsplash.com/photo-1568609477908-f76bff63279c?ixlib=rb-1.2.1&auto=format&fit=crop&w=444&q=80" alt="">
                          <div class="preview__details">
                              <span class="preview__details__text">
                                  <p class="preview__details__text__top txt_lg_white">Mount Bromo</p>
                                  <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star" aria-hidden="true"></i> 4.5</p>
                              </span>
                              <p class="preview__details__text__bottom txt_lg_white"><i class="fa fa-map-marker" aria-hidden="true"></i> Malang, Indonesia</p>
                          </div>
                      </div>
                      <div class="preview" data-scroll data-scroll-speed="1">
                          <img src="https://images.unsplash.com/photo-1525596662741-e94ff9f26de1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                          <div class="preview__details">
                              <span class="preview__details__text">
                                  <p class="preview__details__text__top txt_lg_white">Gili Island</p>
                                  <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star" aria-hidden="true"></i> 4.7</p>
                              </span>
                              <p class="preview__details__text__bottom txt_lg_white"><i class="fa fa-map-marker" aria-hidden="true"></i> Lombok, Indonesia</p>
                          </div>
                      </div>
                  </div>
              </section>
      
              <section data-scroll-section>
                  <h1 class="centered-h1" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-class="appear" data-scroll-repeat="true">Special Offers</h1>
                  <div class="centered-recommendations-container">
                      <div class="recommendations">
                          <ul class="recommendations_list">
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_black">Family</a></li>
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_grey">Couple</a></li>
                              <li class="recommendations__items"><a href="#" class="recommendations__links txt_md_grey">Team</a></li>
                          </ul>
                          <div class="active_container">
                              <span class="active"></span>
                          </div>
                      </div>
                  </div>
                  <div class="special-offers-container">
                      <span class="control_left modify_control"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                      <div class="special-offers-preview-container">
                          <div class="preview modify_preview" data-scroll data-scroll-speed="0.5">
                              <img src="https://images.unsplash.com/photo-1592529754743-91e25c7b9b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="">
                              <div class="preview__details modify_preview__details">
                                  <h3 class="txt_lg_white modify_text">Lombok, Indonesia</h3>
                                  <p class="preview__details__text__bottom modify_preview__details__text__bottom txt_lg_white">6 Day 5 Nights</p>
                                  <span class="preview__details__text">
                                      <p class="preview__details__text__top txt_lg_white">$450/person</p>
                                      <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star modify_i" aria-hidden="true"></i> 4.7</p>
                                  </span>
                              </div>
                          </div> 
                          <div class="preview modify_preview" data-scroll data-scroll-speed="1">
                              <img src="https://images.unsplash.com/photo-1584999675865-41e544a9d067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="">
                              <div class="preview__details modify_preview__details">
                                  <h3 class="txt_lg_white modify_text">Yogyakarta, Indonesia</h3>
                                  <p class="preview__details__text__bottom modify_preview__details__text__bottom txt_lg_white">7 Day 6 Nights</p>
                                  <span class="preview__details__text">
                                      <p class="preview__details__text__top txt_lg_white">$390/person</p>
                                      <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star modify_i" aria-hidden="true"></i> 4.7</p>
                                  </span>
                              </div>
                          </div>   
                          <div class="preview modify_preview" data-scroll data-scroll-speed="1.5">
                              <img src="https://images.unsplash.com/photo-1581974206967-93856b25aa13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1036&q=80" alt="">
                              <div class="preview__details modify_preview__details">
                                  <h3 class="txt_lg_white modify_text">Bali, Indonesia</h3>
                                  <p class="preview__details__text__bottom modify_preview__details__text__bottom txt_lg_white">6 Day 5 Nights</p>
                                  <span class="preview__details__text">
                                      <p class="preview__details__text__top txt_lg_white">$430/person</p>
                                      <p class="preview__details__text__top txt_lg_white"><i class="fa fa-star modify_i" aria-hidden="true"></i> 4.7</p>
                                  </span>
                              </div>
                          </div>  
                      </div>
                      <span class="control_right modify_control"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  </div>
              </section>
      
            
              <section data-scroll-section>
              <footer class="footer">

                <div class="footer-top section">
                  <div class="container">
            
                    <div class="footer-brand">
            
                      <a href="#" class="logo">
                        <img src="{{ url_for('static', filename='images/km.png') }}" width="160" height="50" alt="Footcap logo">
                      </a>
            
                      <ul class="social-list">
            
                          <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                          </a>
            
            
            
                          <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                          </a>
            
            
            
                          <a href="#" class="social-link">
                            <ion-icon name="logo-pinterest"></ion-icon>
                          </a>
            
            
                          <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                          </a>
            
                      </ul>
            
                    </div>
            
                    <div class="footer-link-box">
            
                      <ul class="footer-list">
            
                          <p class="footer-list-title">Contact Us</p>
            
                          <address class="footer-link">
                            <ion-icon name="location"></ion-icon>
            
                            <span class="footer-link-text">
                              2751 S Parker Rd, Aurora, CO 80014, United States
                            </span>
                          </address>
            
                          <a href="tel:+557343673257" class="footer-link">
                            <ion-icon name="call"></ion-icon>
            
                            <span class="footer-link-text">+557343673257</span>
                          </a>
            
                          <a href="mailto:footcap@help.com" class="footer-link">
                            <ion-icon name="mail"></ion-icon>
            
                            <span class="footer-link-text">footcap@help.com</span>
                          </a>
            
                      </ul>
            
                      <div class="footer-list">
            
                        <p class="footer-list-title">Newsletter</p>
            
                        <p class="newsletter-text">
                          Authoritatively morph 24/7 potentialities with error-free partnerships.
                        </p>
            
                        <form action="" class="newsletter-form">
                          <input type="email" name="email" required placeholder="Email Address" class="newsletter-input">
            
                          <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
            
                      </div>
            
                    </div>
            
                  </div>
                </div>
            
                <div class="footer-bottom">
                  <div class="container">
            
                    <p class="copyright">
                      &copy; 2023 <a href="#" class="copyright-link">Kucho Mucho Inc.</a> - All Rights Reserved
                    </p>
            
                  </div>
                </div>
            
              </footer></section><br><br><br><br><br><br>
    {% endblock %}

    {% block script %}    
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
    <script>
const scroller = new LocomotiveScroll({
  el: document.querySelector('[data-scroll-container]'),
  smooth: true
});
    </script>
{% endblock %}
